@import "../../styles/partials/variables";

.results {
    &__button {
        width:20%;
        background-color: $alabaster;
        color: $hiitmkr-black;
        border: 1px solid black;
    }

    &__list {
        height: 95%;
        overflow-y: scroll;
    }
}
