@import "../../styles/partials/variables";

.results {

    &__button {
        width:20%;
        background-color: $alabaster;
        color: $hiitmkr-black;
        border: 2px solid black;
    }

    &__list {
        height: 20vh;
        overflow-y: scroll;
    }
}
