@import "../../styles/partials/variables";

.results {
    &__button {
        width:20%;
        background-color: $alabaster;
        color: $hiitmkr-black;
        border: 1px solid black;
        font-size: 12px;
        margin-bottom: 10px;
    }

    &__list {
        height: 100%;
        overflow-y: scroll;
        background-color: lightgray;
        border-radius: 5px;
        
    }
}
