@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography";
@import "../../styles/partials/global";

.search {
  margin: 2vh 5%;
  height: 52vh;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $alabaster;
  padding: 1rem;
  border: 5px solid black;
  text-align: center;
  align-items: center;

  @include tablet {
    width: 70%;
    margin-inline: 15%;
  }

  &__subtitle {
    align-self: flex-start;
    font-size: 1rem;
    margin-left: 10%;
  }

  &__artists {
    display: flex;
    flex-direction: row;
  }

  &__bar {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 80%;
    border: 1px solid black;
    border-right: none;
    font-size: .75rem;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__button {
    width: 20%;
    background-color: $alabaster;
    color: $hiitmkr-black;
    border: 1px solid black;
    font-size: .5rem;

    &--start {
      margin-top: 2rem;
    }

    @include tablet {
      font-size: 1rem;
    }
  }

  &__results {
    width: 100%;
    margin-block: 1rem;
    height: 55%;
  }
}

.music-player {
  height: 23vh;
  background-color: $alabaster;
  padding: 1rem 1rem 0 1rem;
  margin-block: 2vh;
  margin-bottom: 5rem;
  width: 90%;
  margin-inline: 5%;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.5);
  border: 5px solid black;
  padding-block: 1rem;

  @include tablet {
    width: 70%;
    margin-inline: 15%;
  }
}
