// =====breakpoints=====
//initial build made at 320px mobile view
$tablet-breakpoint: 768px;  //tablet built made at 768px
$desktop-breakpoint: 1280px; //desktop built made at 1280px

// =====colours=====
$hiitmkr-red-primary: #b50f0f;
$hiitmkr-red-secondary: #ff0000;
$silver: #AFAFAF;
$white: #FFFFFF;
$hiitmkr-almost-black: #323232;
$hiitmkr-black: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

//landing page
$landing-button-border: 5px solid $alabaster; 