@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography";
@import "../../styles/partials/global";

.pageheader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: $hiitmkr-almost-black;

  &__link {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 60%;
    max-width: 30vw;
  }
}