@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography";
@import "../../styles/partials/global";

.landing {
  @include tablet {
    height: 90vh;
  }

  &__login {
    display: flex;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background: linear-gradient(rgba(50, 70, 80, 0.7), rgba(50, 70, 80, 0.7)),
      url(../../assets/login.jpg) no-repeat center/cover;
    justify-content: center;
    align-items: center;
  }

  &__title {
    width: 85%;
    text-align: center;
    margin-bottom: 9rem;
    @include mobile__page-header;
    color: white;

    @include tablet {
      @include tablet__page-header;
    }
  }

  &__link,
  &__link:hover {
    padding: 1rem;
    width: 8.5rem;
    text-align: center;
    color: $alabaster;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 1s;
    margin-top: 2rem;
    position: absolute;
    font-family: "Thasadith";

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 15%;
      height: 25%;
      background: transparent;
      transition: 1s;
    }

    &::before {
      top: 0px;
      left: 0px;
      border-top: $landing-button-border;
      border-left: $landing-button-border;
    }

    &::after {
      top: 0px;
      right: 0px;
      border-top: $landing-button-border;
      border-right: $landing-button-border;
    }

    &:hover::before,
    &:hover::after {
      width: calc(100% / 2);
      height: calc(100% / 2);
    }
  }

  &__link-text {
    text-decoration: none;
    color: $alabaster;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 15%;
      height: 25%;
      background: transparent;
      transition: 1s;
    }

    &::before {
      bottom: 0px;
      left: 0px;
      border-bottom: $landing-button-border;
      border-left: $landing-button-border;
    }

    &::after {
      bottom: 0px;
      right: 0px;
      border-bottom: $landing-button-border;
      border-right: $landing-button-border;
    }
  }
}

.landing__link:hover .landing__link-text::before,
.landing__link:hover .landing__link-text::after {
  width: calc(100% / 2);
  height: calc(100% / 2);
}
